.btn{
    
    text-shadow: 1px 0 #232931;
    
}
h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
}
footer p {
    margin: 0;
    text-align: center;
    color: floralwhite;
    line-height: 5rem;
    font-size: 1.4rem;
    text-shadow: 3px 0 #232931;
    font-family: 'Lobster', cursive;
}
